.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
background: linear-gradient(125deg, #ec2828, #2c2c2b);
  color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.nav-links {
  display: flex;
  list-style: none;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
}